@media only screen and (max-width: 48em) {
  /*************** ADD MOBILE ONLY CSS HERE  ***************/

}

div.main-filter h2 {
  text-transform: uppercase;
  text-align: center;
}

.main-filter {
  span.prdctfltr_regular_title {
    background-color: @primary;
    font-size: 19px; font-weight: 400; font-family: futura pt, sans-serif; letter-spacing: .14em;
  }
  a.button.prdctfltr_woocommerce_filter_submit {
    background-color: @primary;
    font-size: 19px; font-weight: 400; font-family: futura pt, sans-serif; letter-spacing: .14em;
  }

  span.prdctfltr_regular_title {
    background-color: @secondary !important;
    border: none !important;
    text-align: center;
    text-transform: uppercase;
  }

  div.main-filter h2 {
    text-align: center !important;
    text-transform: uppercase;
    //.h2;
  }

  div.prdctfltr_buttons {
    text-align: center;
  }
}

div.paoc-popup-modal-cnt {
  border: solid 3px @primary;
}